.member {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member img {
  width: 100%;
  height: 40vh;
  margin-bottom: 10px;
}
.member span {
  font-size: 1.7vw;
  color: #260894;
  text-shadow: -2px -2px #dd69fb;
  text-transform: capitalize;
}
